.register {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register > p {
  margin-top: 10px;
  color: darkgray;
}

.register-logo {

  object-fit: contain;
  width: 140px;
  
  margin-right: auto;
  margin-left: auto;
}

.register-container {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.register-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.register-container > form > h5 {
  font-size: 14px;
  margin-bottom: 5px;
}

.register-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 98%;
}

.register-container > p {
  margin-top: 15px;
  font-size: 12px;
}

.continue {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.detail {
  display: flex;
  margin-top: 15px;
  border-top: 1px solid lightgray;
}

.detail p {
  margin-top: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.signIn-link  {
  margin-left: 5px !important;
  font-size: 14px !important;
  color: #0066c0 !important;
}

