body[data-theme='dark'] {
 background-color: black;
    transition: all .4s linear;
  }
  body[data-theme='light'] {
    --colors-text: hsl(200, 15%, 8%);
    --colors-bg: hsl(0, 0%, 98%);
    --colors-ui-base: hsl(0, 0%, 100%);
    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .4s linear;
  }
  